<div class="contenedor" *ngIf="miblog as editado" fxLayout="row" fxLayoutAlign="center center">
    <div class="centro mat-elevation-z1" fxLayout="row">
        <div class="img" fxFlex="35%">
            <pre>
                {{miblog|json}}
            </pre>
        </div>
        <div class="datos" fxFlex="65%" fxLayout="column">
            <h1>Editar un nuevo blog</h1>
            <form #nuevoblog="ngForm" (ngSubmit)="imprimir(editado)">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field appearance="fill" fxFlex="49">
                        <mat-label>Titulo del blog</mat-label>
                        <input minlength="5" maxlength="30" required name="titulo" #titulo="ngModel" [(ngModel)]="editado.titulo" matInput type="text">
                        <mat-error *ngIf="nuevoblog.controls['titulo']?.errors?.required">Este campo es obligatorio</mat-error>
                        <mat-error *ngIf="nuevoblog.controls['titulo']?.errors?.minlength">Este campo debe ser mayor de 5 caracteres</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="49">
                        <mat-label>Fecha del blog</mat-label>
                        <input required name="fecha" #fecha="ngModel" [(ngModel)]="editado.fecha" matInput type="text">
                        <mat-error *ngIf="nuevoblog.controls['fecha']?.errors?.required">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="fill" fxFlex="64">
                    <mat-label>Contenido del blog</mat-label>
                    <textarea  minlength="10" required  name="contenido" #contenido="ngModel" [(ngModel)]="editado.contenido" matInput ></textarea>
                    <mat-error *ngIf="nuevoblog.controls['contenido']?.errors?.required">Este campo es obligatorio</mat-error>
                    <mat-error *ngIf="nuevoblog.controls['contenido']?.errors?.minlength">Este campo debe ser mayor de 10 caracteres</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="35">
                    <mat-label>Foto del blog</mat-label>
                    <input  required  name="foto" #foto="ngModel" [(ngModel)]="editado.foto" matInput type="text" >
                    <mat-error *ngIf="nuevoblog.controls['foto']?.errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Etiquetas</mat-label>
                    <mat-select name="etiqueta" #etiqueta ="ngModel" [(ngModel)]="editado.etiquetas" multiple  [compareWith]="verificador">
                      <mat-option *ngFor="let topping of misEtiquetas" [value]="topping" >
                        <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
                            <div class="bolita" [ngStyle]="{'background-color':topping.color}"></div>
                            <h5 class="capitalize">{{topping.mensaje}}</h5>
                        </div>
                    </mat-option>
                    </mat-select>
                  </mat-form-field>

            </div>
                <div fxLayout="row">
                    <button mat-raised-button class="btn_color" fxFlex="40%" type="submit" [disabled]="nuevoblog.invalid || nuevoblog.untouched" >Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>