.padre{
    height: 500px;
    background-color: rgb(178, 202, 224);
}
.contenedor1{
    background-color: white;
}
.fecha{
    background-color: white;
}
.c{
    h5{
        color: rgb(151, 165, 165);
    }
}
.num{
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 3rem;
    font-size: 2rem;
    color: rgb(178, 202, 224);
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
  }
  .c1{
      width: 60%;
  }