<div class="padre" fxLayout="column">
    <div class="contenedor" fxFlex="80%"  fxLayout="column" *ngFor="let con of acercade">
        <div class="c" fxFlex="15%" fxLayoutAlign="center center">
            <h3 class="lb">{{con.titulo}}</h3>
        </div>
        <div class="c" fxFlex="50%" fxLayout="row" fxLayoutAlign="center center"  >
            <div class="cuadros" fxFlex="20%" fxLayout="column" fxLayoutAlign="center center" *ngFor="let ob of con.servicio">
                <h3 class="lb">{{ob.titulo}}</h3>
                <h6 class="lb">{{ob.descripcion}}</h6>
            </div>
        </div>
        <div class="c1 " fxFlexAlign="center" fxFlex="20%" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="num" fxLayoutAlign="center center" >1</div>
            <div class="linea " fxLayoutAlign="space-between center" fxFlex="25%">
            </div>
            <div class="num" fxLayoutAlign="center center" >2</div>
            <div class="linea " fxLayoutAlign="space-between center" fxFlex="25%">
            </div>
            <div class="num" fxLayoutAlign="center center" >3</div>
            <div class="linea " fxLayoutAlign="space-between center" fxFlex="25%">
            </div>
            <div class="num" fxLayoutAlign="center center" >4</div>
        </div>

        <div class="c" fxFlex="20%" fxLayout="row" fxLayoutAlign="center center" >
            <div class="fecha" fxFlex="25%" fxLayout="column" fxLayoutAlign="center center" *ngFor="let vista of con.contador">
                <h1 class="lb">{{vista.titulo}}</h1>
                <h5 class="lb">{{vista.numero}}</h5>
        </div>
    </div>
    <div class="contenedor1" fxFlex="20%"></div>
</div>

