<div class="portada" fxLayout="row" *ngIf="miblog as blog">
    <img fxFlex="40%" src="{{blog.foto}}" />
    <div class="vistas" fxFlex="40%" fxLayout="column" fxLayoutAlign="end start">
        <b class="contenido " fxFlex="30%">{{blog.contenido}}</b>
        <h5 class="contenido" fxFlex="30%" >{{blog.contenido}}</h5>
    </div>
    <div class="vistas" fxFlex="20%" fxLayout="column">
        <div fxFlex="4%"></div>
        <div fxLayout="row" fxLayoutGap="5px">
            <mietiqueta *ngFor="let et of blog.etiquetas" [objeto]="et"></mietiqueta>
        </div>
        <b class="contenido1" fxFlex="5%" font-weight: bold>{{blog.titulo}}</b>
        <h6 class="contenido1" fxFlex="5%">{{blog.fecha}}</h6>
    </div>
</div>