<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef> MENSAJE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mensaje}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> COLOR </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.color}} </mat-cell>
    </ng-container>
  
  <!-- Symbol Column -->
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> ACCIONES </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="editar(element)">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="borrar(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  