<div class="cabecera fondo c1" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button routerLink="/nuevoblog" >New blog</button>
  <button mat-raised-button routerLink="/nuevaetiqueta" >New etiquetas</button>
  <button mat-flat-button class=" fondo">Essential Bali travel tips: things to know</button>
  
  <button mat-stroked-button class=" fondo" routerLink="/inicio">
    <mat-icon>
      expand_more
    </mat-icon>Read More
  </button>
</div>

<div class="c1 blanco"fxLayout="row" fxLayoutAlign="center center">
  <div class="c1 blanco" fxFlex="50%" fxLayout="row" fxLayoutAlign="center center" >
    <a mat-button  target="_blank"  routerLink="/listablogs" >About</a>
    <a mat-button  target="_blank">Contact</a>
    <a class="blanco" mat-button  target="_blank">Buy theme</a>
  </div>
  <div class="c1 blanco" fxFlex="50%" div fxLayout="row" fxLayoutAlign="center center">
   
    <button mat-stroked-button class="c1 blanco" mat-raised-button routerLink="/listablogs">
      <mat-icon>
        listar blogs
      </mat-icon>Listar Blog
    </button>

    <button mat-stroked-button class="c1 blanco" routerLink="/listaretiquetas">
      <mat-icon>
        send
      </mat-icon>Listar etiquetas
    </button>


  </div>
</div>

<div class="menu blanco">
    <div class="me blanco" fxFlex="25%" fxLayout="row" fxLayoutAlign="end center" >
      <img src="assets\log1.png" fxFlex="25%" >
    </div>
    <div class="me blanco" fxFlex="50%"  fxLayout="row" fxLayoutAlign="center center" >  
      <button mat-stroked-button class="c1 blanco">
        <mat-icon>
          expand_more
        </mat-icon>Demos
      </button>

      <button mat-stroked-button class="c1 blanco">
        <mat-icon>
          expand_more
        </mat-icon>Features
      </button>

      <button mat-stroked-button class="c1 blanco">
        <mat-icon>
          expand_more
        </mat-icon>Hotels
      
      </button>
      <button mat-stroked-button class="c1 blanco">
        <mat-icon>
          list_alt
        </mat-icon>Destinations
      
      </button>
      <button class="c1 blanco" mat-stroked-button  routerLink="/acerca">
       About
      </button>
    </div>
    <div class="me blanco" fxFlex="25%" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">android</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">android</mat-icon>
    </div>
  </div>
  <router-outlet></router-outlet>