button{
    background-color: palegreen;
}

.rosado{
    background-color: pink;
}
.verde{
    background-color: palegreen;
}
.azul{
    background-color: royalblue;
}
.naranja{
    background-color: sandybrown;
}
.padre{
    height: 500px;
}
.c1{
    height: 45px;
}
.c2{
    height: 25px;
}
.menu{
    height: 70px;
}
.rojo{
    background-color: rgb(92, 34, 34);
}
.me{
    height: 45px;
}
.logo{
    height: 40px;
}
.fin{
    height: 100px;
}
.f1{
    height: 10px;
}

.cuerpo{
    height: 120px;
}
.cuerpo2{
    height: 290px;
}
.cuerpo3{
    height: 200px;
}
.lvl{
    height: 20px;
}
.blanco{
    background-color: seashell;
}
.fondo{
    background-color:gold;
}
.blanco1{
    background-color: rgb(197, 211, 179);
}
.container{
    padding: 10%;
}
.introduccion{
    h3{
        font-size: 1rem;
        text-transform: capitalize;
    }
}
.hijo{
    height: 150px;
}
.hijo1{
    background-color: steelblue;
    img{
        width: 100%;
        height: 100px;
    }
}