<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef> TITULO </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="fecha">
    <mat-header-cell *matHeaderCellDef> FECHA </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="contenido">
    <mat-header-cell *matHeaderCellDef> CONTENIDO </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.contenido}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="foto">
    <mat-header-cell *matHeaderCellDef> FOTO </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <img src="{{element.foto}} ">
    </mat-cell> -->
  </ng-container>

  <ng-container matColumnDef="etiquetas" >
    <mat-header-cell *matHeaderCellDef> ETIQUETA </mat-header-cell>
    <mat-cell *matCellDef="let element" > 
      <mietiqueta *ngFor="let eti1 of element.etiquetas" [objeto]="eti1"></mietiqueta>
    </mat-cell> -->
  </ng-container>

<!-- Symbol Column -->
<ng-container matColumnDef="acciones">
  <mat-header-cell *matHeaderCellDef> ACCIONES </mat-header-cell>
  <mat-cell *matCellDef="let element"> 
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="editar(element)">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="borrar(element)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-cell>
</ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

