.contenedor {
    height: 500px;

    background: rgba(240,211,118,1);
    background: -moz-linear-gradient(left, rgba(240,211,118,1) 0%, rgba(237,161,208,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,211,118,1)), color-stop(100%, rgba(237,161,208,1)));
    background: -webkit-linear-gradient(left, rgba(240,211,118,1) 0%, rgba(237,161,208,1) 100%);
    background: -o-linear-gradient(left, rgba(240,211,118,1) 0%, rgba(237,161,208,1) 100%);
    background: -ms-linear-gradient(left, rgba(240,211,118,1) 0%, rgba(237,161,208,1) 100%);
    background: linear-gradient(to right, rgba(240,211,118,1) 0%, rgba(237,161,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d376', endColorstr='#eda1d0', GradientType=1 );
    

    
}
.centro{
    background-color: yellowgreen;
    width: 90%;
    height: 80%;
    border-radius: 7px;
    mat-form-field{
        border-radius: 50px;
    }
}
.img{
    background-color: #f0d376;
}
.datos{
    background-color: white;
    padding: 2% 10%;

}
.btn_color{
    color: #ffffff;
    background-color: #c644e0;
}