<div class="contenedor"  *ngIf="minuevaetiqueta as editado" fxLayout="row" fxLayoutAlign="center center">
    <div class="centro mat-elevation-z1" fxLayout="row">
        <div class="img" fxFlex="35%">
            <pre>
                {{minuevaetiqueta|json}}
            </pre>
        </div>
        <div class="datos" fxFlex="65%" fxLayout="column">

            <h1>Agregar una nueva etiqueta</h1>
            <form #nuevaetiqueta="ngForm" (ngSubmit)="imprimir(editado)">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field appearance="fill" fxFlex="49">
                        <mat-label>Mensaje de la etiqueta</mat-label>
                        <input minlength="5" maxlength="30" required name="titulo" #titulo="ngModel" [(ngModel)]="minuevaetiqueta.mensaje" matInput type="text">
                        <mat-error *ngIf="nuevaetiqueta.controls['titulo']?.errors?.required">Este campo es obligatorio</mat-error>
                        <mat-error *ngIf="nuevaetiqueta.controls['titulo']?.errors?.minlength">Este campo debe ser mayor de 5 caracteres</mat-error>
                    </mat-form-field>
                   
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field appearance="fill" fxFlex="49">
                        <mat-label>Color de la etiqueta</mat-label>
                        <input required name="fecha" #fecha="ngModel" [(ngModel)]="minuevaetiqueta.color" matInput type="text">
                        <mat-error *ngIf="nuevaetiqueta.controls['fecha']?.errors?.required">Este campo es obligatorio</mat-error>
                    </mat-form-field>
            </div>
                <div fxLayout="row">
                    <button mat-raised-button class="btn_color" fxFlex="40%" type="submit" [disabled]="nuevaetiqueta.invalid" >Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>
