button{
    background-color: rgb(248, 250, 248);
}
.rosado{
    background-color: pink;
}
.verde{
    background-color: palegreen;
}
.azul{
    background-color: royalblue;
}
.naranja{
    background-color: sandybrown;
}
.rojo{
    background-color: red;
}
.cuerpo{
    height: 300px;
}
.cuerpo2{
    height: 290px;
}
.cuerpo3{
    height: 200px;
}
.lvl{
    height: 20px;
}
.blanco{
    background-color: seashell;
}
.fondo{
    background-color: rgb(54, 128, 54);
}
.blanco1{
    background-color: rgb(185, 179, 179);
}
.es{
    height: 2;
}
.c1{
    height: 45px;
}
.im{
    background-image: url("https://static.eldiario.es/clip/ea0ed004-99f3-45f1-867c-7c036e93e445_16-9-discover-aspect-ratio_default_0.jpg");
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.im1{
    background-image: url("https://www.ambientum.com/wp-content/uploads/2019/09/luz-naturaleza.jpg");
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.im0{
    background-image: url("https://www.diariohispaniola.com/fotos/1/imagen.aspx_2_thumb_620.jpeg");
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.les{
    height: 170px;
}
.container{
    padding: 1%;
}
.introduccion{
    h3{
        font-size: 1rem;
        text-transform: capitalize;
    }
    p{
        font-size: 0.8rem;
        color: rgb(151, 165, 165);
    }
}
.hijo{
    height: 100px;
    padding: 0 10%;
}
.hijo1{
    background-color: rgb(197, 211, 179);
    img{
        width: 100%;
        height: 100px;
    }
}
.blanco1{
    background-color: rgb(197, 211, 179);
}
.ima{ 
    margin: 0 10px;
    img{
       
       width: 100%;
       height: 100%;
       object-fit:center center;
    }
}
.container1{
    padding: 2rem 10%;
    height: 400px;
    position: relative;
}
.flotante{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 2rem 10%;
}
.lb{
    color: rgb(255, 255, 255);
}
.flo{
   margin: 0 10px;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity:0.6;
   
}
.c{
    padding: 1%;
    margin: 0 10px;
    height: 100%;
}
.container2{
    height: 140px;
    position: relative;
}
.container3{
    height: 280px;
    position: relative;
    background-color: brown;
}
.ima1{ 
    img{
       width: 100%;
       height: 100%;
       object-fit:center center;
    }
}
.flo1{
    
     width: 100%;
     height: 100%;
     background-color:#000;
     opacity:0.6;
    
 }
 .flotante1{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
   
}
.c2{
    h6{
        font-size: 0.8rem;
        color: rgb(151, 165, 165);
    }
}