<div class="container blanco1">
  <div class="hijo blanco1" fxLayout="row" fxLayoutGap="10px">
    <div class="hijo1" fxFlex fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="start center"
      *ngFor="let gente of personas">
      <img src="{{gente.foto}}" fxFlex="30%">
      <div class="introduccion" fxLayout="column" fxFlex>
      <div fxFlex fxLayout="row">
        <mietiqueta *ngFor="let et of gente.etiquetas" [objeto]="et"></mietiqueta>
      </div>
        <h3>{{gente.titulo}}</h3>
        <p>{{gente.fecha}} </p>
        <!-- {{sumador(gente.edad)}} -->
      </div>
    </div>
  </div>
</div>
<div class="container1 " fxLayout="row">
  <div class="ima " fxFlex="calc(33% - 20px)" *ngFor="let con of contenedor1">
    <img src="{{con.foto}}">
  </div>
  <div class="flotante" fxFlex fxLayout="row">
    <div class="flo " fxFlex="calc(33% - 20px)"></div>
    <div class="flo" fxFlex="calc(33% - 20px)"></div>
    <div class="flo" fxFlex="calc(33% - 20px)"></div>
  </div>
  <div class="flotante" fxFlex fxLayout="row">
    <div class="c" fxFlex fxLayout="column" fxLayoutAlign="end start" *ngFor="let con of contenedor1">
      <div fxFlex fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
        <mietiqueta *ngFor="let eti of con.etiquetas" [objeto]="eti">
        </mietiqueta>
      </div>
      <h3 class="lb">{{con.titulo}}</h3>
      <h6 class="lb">{{con.fecha}}</h6>
      <button mat-flat-button [routerLink]="'/entrada/'+con.id">leer mas..</button>
    </div>
  </div>
</div>
<div class="container2" fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="1%">
  <!-- <button mat-raised-button (click)="cambiador()">ocultar</button> -->
  <div class="c2" fxFlex="20%" *ngFor="let cont of contenedortitu">

    <div fxLayout="row">
      <mietiqueta *ngFor="let eti1 of cont.etiquetas" [objeto]="eti1"></mietiqueta>
      <!-- <mietiqueta *ngFor="let con of contenedoretiqueta"></mietiqueta> -->
    </div>
    <h3>{{cont.titulo}}</h3>
    <h6>{{cont.fecha}}</h6>
  </div>
</div>
<div class="container3" fxLayout="row">
  <div class="ima1 " fxFlex="20%" *ngFor="let con2 of contenedor2">
    <img src="{{con2.foto}}">
  </div>
  <div class="flotante1" fxFlex fxLayout="row">
    <div class="flo1" fxFlex="20%"></div>
    <div class="flo1" fxFlex="20%"></div>
    <div class="flo1" fxFlex="20%"></div>
    <div class="flo1" fxFlex="20%"></div>
    <div class="flo1" fxFlex="20%"></div>
  </div>
  <div class="flotante1" fxFlex fxLayout="row">
    <div class="c" fxFlex fxLayout="column" fxLayoutAlign="end start" *ngFor="let con2 of contenedor2">
      <div fxLayout="row">
        <mietiqueta *ngFor="let eti2 of con2.etiquetas" [objeto]="eti2"></mietiqueta>
      </div>
      <h3 class="lb">{{con2.titulo}}</h3>
      <h6 class="lb">{{con2.fecha}}</h6>
    </div>
  </div>
</div>