.container {
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid lightgray ;
    h5{
        font-weight: 600;
        font-size: 0.6rem;
        text-transform: lowercase;
        margin: 0;
        padding: 0;
    }    
}
.bolita{
    height: 0.6rem;
    width: 0.6rem;
    //background-color: purple;
    border-radius: 0.6rem;
}