<div class="container" fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center" *ngIf="etiqueta">
    <div class="bolita" [ngStyle]="{'background-color':etiqueta.color}"></div>
    <h5>{{etiqueta.mensaje}}</h5>
</div>